#titulo-pagina {
  padding-top: 30px
}

#todo-sect {
  display: flex;
}

#todo {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

h3 {
  text-align: center;
}

.titulo-carta {
  width: 100%;
  background-color: rgba(0,0,0,0.05);
  border: 2px;
  margin: 10px auto 0px;
  box-shadow: -2px 3px 4px 3px rgba(0, 0, 0, 0.1);

}

.carta-dropdown {
  display: flex;
  flex-direction: column;
}

.texto-carta {
  width: 90%;
  text-align: center;
  margin: auto;
  display: none;
  overflow: hidden;
}

h4 {
  font-size: 28px;
  font-family: "FontFarfMin";
  line-height: 40px;
  padding-top: 10px
}

.texto-carta img {
  width: 90%;
}

.nombre-foto {
  font-size: 17px;
  line-height: 12px;
  text-decoration: underline;
  padding-bottom: 20px
}

.br-grande {
  margin-bottom: 15px;
}

#foto-postre, #foto-pizza {
  margin-top: 20px
}

#ultimo-dropdown {
  padding-bottom: 20px
}


@media only screen and (min-device-width:768px) {
  #todo {
    display: grid;
    grid-template-areas:
    'left1 right1'
    'left2 right2'
    'left3 right3';
    grid-template-columns: 50% 50%;
    width: 90%;
    height: 100%
  }

  #todo-sect {
    padding-bottom: 30px
  }

  .carta-dropdown {
    width: 90%
  }
}
