#titulo-pagina {
  padding-top: 30px
}

#todo-sect {
  display: flex;
}

#todo {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

h3 {
  text-align: center;
  font-size: 24px;
  line-height: 30px
}

.sing {
  display: none
}

.foto-tipo {
  width: 60%;
}

.titulo-carta {
  width: 80%;
  background-color: rgba(0,0,0,0.05);
  border: 2px;
  padding: 10px 0px;
  margin: 20px auto 0px;
  box-shadow: -2px 3px 4px 3px rgba(0, 0, 0, 0.1);
  border-radius: 7px
}

.carta-dropdown {
  display: flex;
  flex-direction: column;
  height: 48%
}

.texto-carta {
  width: 90%;
  text-align: center;
  margin: auto;
  display: none;
  overflow: hidden;
}

h4 {
  font-size: 28px;
  font-family: "FontFarfMin";
  line-height: 40px;
  padding-top: 10px
}

.texto-carta img {
  width: 90%;
}

.nombre-foto {
  font-size: 17px;
  line-height: 12px;
  text-decoration: underline;
  padding-bottom: 20px
}

.br-grande {
  margin-bottom: 15px;
}

#ultimo-dropdown {
  padding-bottom: 20px
}

.texto-carta p {
  margin: 20px auto auto auto;
  width: 90%;
}

.texto-carta p a {
  font-style: italic;
  text-decoration: underline;
}


@media only screen and (min-device-width:768px) {
  #todo {
    display: grid;
    grid-template-areas:
    'left1 mid1 right1'
    'left2 mid2 right2';
    grid-template-columns: 33% 33% 33%;
    width: 90%;
    height: 100%
  }

  #todo-sect {
    padding-bottom: 30px
  }

  .carta-dropdown {
    width: 90%
  }

  .texto-carta p {
    margin: 20px auto auto auto;
    width: 80%;
    font-size: 16px;
    line-height: 18px !important;
  }

  .texto-carta p a {
    font-size: 16px;
    line-height: 18px;
  }

  #texto-pizzas {
    margin-bottom: 80px
  }
}
