#reservarb, #cartab {
  margin: auto;
}

#cartasinb {
  margin-left: 5px
}

#sect_somos {
  display: flex;
  flex-direction: column;
}

#sect_somos p {
  text-align: justify;
  margin: 0px 20px 10px 20px;
}

#entrada {
  width: 90vw;
  margin: auto auto 20px;
}

.carta-item {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 20vh;
  margin: auto
}

.carta-item:hover {
  background-color: rgba(0,0,0,0.05)
}

.carta-item a {
  margin: 15px auto 10px auto;
}

.img-clickable {
  width: 25vw;
}

#celiacos {
  color: #A50D2F;
  font-weight: bold;
}

#reserva-sect {
  padding-bottom: 0px;
}

#menu-y-precio {
  display: flex;
  flex-direction: column;
  margin-top: 30px
}

#precio-menu {
  margin: auto;
  font-size: 30px;
  font-style: italic;
  padding-top: 15px;
  padding-bottom: 15px
}

.diario-h {
  margin: auto;
}

.seguid-insta {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px
}

#reserva-tit {
  padding-top: 20px;
}

#form * {
  border: none;
  margin: auto;
  text-align: center
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field input {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #FFD6B6
}

#form-field-check{
  display: grid;
  grid-template-areas:
  'left right'
  'bot bot';
  width: 250px;
}

#reserva-sect a {
  text-decoration: underline
}

#checkbox {
  margin: auto;
  height: 20px;
  width: 20px;
  background-color: rgba(0,0,0,0.75);
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
}

#checkbox:checked {
  background-color: rgba(0,0,0,0.75);
}

#form-field-check label p, #form-field-check a {
  font-size: 12px;
  line-height: 12px;
}

#submit1, #submit1:hover {
  margin-top: 12px;
  background-color: #B74242;
  border-radius: 40px;
  padding: 10px 20px;
  color: white
}

#submit1:active {
  margin-top: 12px;
  background-color: rgba(0,0,0,0.6);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: none;
  margin-bottom: 4px;
}

.error {
  grid-area: bot;
  display: none;
  padding-top: 10px;
  line-height: 12px;
  font-size: 12px;
  color: red;
}

#horario {
  display: flex;
  flex-direction: column;
  margin-top: 20px
}

#horario-in {
  background-color: #B74242;
  outline: 2px dashed #FFD6B6;
  color: white;
  outline-offset: -15px;
  padding: 42px 25px 50px;
  margin-bottom: 25px;
  width: 80%;
  margin: auto auto 25px;
}

#horario-in * {
  text-align: center !important;
  color: white;
}

#horario-in hr {
  margin: 10px auto;
  color: #FFD6B6;
  width: 20vw;
}

.tel {
  font-family: FontNumbers;
  font-weight: lighter
}

@media only screen and (min-device-width:768px) {
  #botones-tit {
    display: grid;
    grid-template-areas:
    'left right';
  }

  #cartab {margin: auto 5px auto auto};
  #cartasinb {margin: auto}

  .carta-item {
    height: 33vh
  }

  #sect_somos {
    width: 70%;
    margin: auto;
    gap: 40px
  }

  #somos-tit {margin: auto auto 10px auto;}
  #entrada {width: 40vw;}

  #cart
  {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    font-size: 18px;
    padding-bottom: 15px
  }

  .up-text {
    margin-bottom: 22px
  }

  #diario {
    display: flex;
    flex-direction: column;
  }

  #link-insta {
    margin: auto;
  }

  #link-insta .icon {
    display: block
  }

  #menu-y-precio {
    flex-direction: row;
    gap: 10px
  }

  .diario-h {
    margin: auto 7px auto auto
  }

  #precio-menu {
    font-family: FontFarfMin;
    margin: auto auto auto 7px;
    font-weight: 100;
    font-size: 40px;
    padding: 15px 0px 30px;
    font-style:italic;
    text-decoration: underline;
    text-underline-offset: 8px
  }

  #link-insta {
    display: flex;
    gap: 10px;
    padding-bottom: 30px
  }

  #link-insta p, #link-insta a {
    font-size: 15px
  }

  #form {width: 50vw;  margin: 10px auto}
  #horario {width: 50vw; margin:auto}

  #horario-in hr {
    width: 10vw;
  }

  .form-field input {
    width: 40vw
  }

  .img-clickable {
    width: 7.5vw;
  }
}

@media only screen and (min-device-width: 900px) {
  #somos-tit {
    margin-bottom: 20px
  }

  #sect_somos {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px
  }
  #somos-tit {margin: auto auto 10px auto}
  #somos-text, #entrada {margin:auto}
  #entrada {width: 30vw}

  #carta {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 20px 0px
  }

  #reserva-sect {
    display: grid;
    grid-template-areas:
    'top top'
    'left right';
    width: 70%;
    margin: auto auto 10px auto
  }

  #reserva-tit {grid-area: top; margin:auto auto 10px auto}
  #form {grid-area: left; width: 30vw}
  #horario {grid-area: right; width: 30vw; margin:auto}

  .form-field input {
    width: 25vw
  }

  .error {
    font-size: 15px
  }
}
