<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/cartas.css">
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/flaticon.ico" type = "image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src ="../static/jquery-3.6.0.min.js"></script>
    <title>Carta Farfalla</title>
  </head>
  <header>
    <nav id="header-nav">
      <ul class="dropdown">
        <li id="cambio-idiomas">
          <a href="#">
            <button type="button" name="button" id="boton-cambio-idioma">
              <img id="foto-idioma" src="/static/images/world-map-2.png" alt="">
            </button>
          </a>
          <ul id="lista-idiomas">
            <li><a id="espanol-boton">Español</a></li>
            <li><a id="ingles-boton">English</a></li>
            <li><a id="rumano-boton">Română</a></li>
          </ul>
        </li>
      </ul>
      <ul id="header-list">
        <li class="boton-nav boton-nav-peque">
          <a id="home-nav" href="home.html">Home</a>
        </li>
        <li class="boton-nav boton-nav-peque" id="carta-boton">
          <a class="es" href="cartas.html">Carta</a>
          <a class="en" href="cartas.html">Menu</a>
          <a class="ro" href="cartas.html">Meniu</a>
        </li>
        <li class="boton-nav boton-nav-grande" id="carta-sin-boton">
          <a class="es" href="cartasing.html">Carta Sin Gluten</a>
          <a class="en" href="cartasing.html">Gluten-free Menu</a>
          <a class="ro" href="cartasing.html">Meniu Fără Gluten</a>
        </li>
        <li class="boton-nav" id="reservar-boton">
          <a class="es">Reservar</a>
          <a class="en">Book a Table</a>
          <a class="ro">Rezervare</a>
        </li>
        <li class="boton-nav boton-nav-grande" id="about-boton">
          <a class="es">Sobre nosotros</a>
          <a class="en">About us</a>
          <a class="ro">Despre noi</a>
        </li>
      </ul>
    </nav>
  </header>
  <body>
    <section class="sect", id="sect_titulo">
      <h1 id="titulo-pagina">Il Piccolino della Farfalla</h1>
      <h2 class="es subtitulo">Carta Sin Gluten</h2>
      <h2 class="en subtitulo">Gluten-free Menu</h2>
      <h2 class="ro subtitulo">Meniu Fără Gluten</h2>
      <nav id="botones-tit" class="botones">
  			<button type="button" id="cartab-menu" onclick="goToCarta()">
          <p class="es">Carta</p>
          <p class="en">Menu</p>
          <p class="ro">Meniu</p>
        </button>
      </nav>
    </section>
    <section id="todo-sect" class="sect">
      <div id="todo">
        <div id="col1">
          <article class="carta-dropdown">
            <button type="button" name="button" class="titulo-carta">
              <h3>Entrantes y Ensaladas</h3>
            </button>
            <article class="texto-carta" id="carta-entrantes">
              <h4>Entrantes</h4>
              <img src="../static/images/foto-entrante.png" alt="Berenjenas gratinadas">
              <p class="nombre-foto">Berenjenas gratinadas</p>
              <p class="sin-gluten">Mejillones al vapor con emulsión de tomate<br>8,50€<br class="br-grande">
                Porción de berenjena gratinada<br>4,15€<br class="br-grande">
                Chorizo de León al horno con vino<br>5,50€<br class="br-grande">
                Arepa de queso<br>4,00€<br class="br-grande">
                Caldo espesito casero de verduras y carne (solo en invierno)<br>4,25€<br class="br-grande">
              </p>
            </article>
            <article class="texto-carta" id="carta-ensaladas">
              <h4>Ensaladas</h4>
              <img src="../static/images/foto-ensalada.png" alt="Ensalada">
              <p class="nombre-foto">Ensalada Caprese</p>
              <p class="sin-gluten">Baby: espinacas, mezclum, queso cabra, cebolleta, frutos secos<br>6,25€<br class="br-grande">
                Caprese: tomate, mozzarella búfala y pesto<br>6,25€<br class="br-grande">
                Mixta: mezclum, tomate, bonito y cebolla<br>5,95€<br class="br-grande">
                Blanca: mezclum, apio, manzana, nueces, salsa roquefort<br>5,95€<br class="br-grande">
                Colorida: remolacha, patata, zanahoria, huevo duro<br>5,95€<br class="br-grande">
                Especial: mezclum, barritas de cangrejo y espárragos blancos<br>6,25€<br class="br-grande">
              </p>
            </article>
          </article>
          <article class="carta-dropdown">
            <button type="button" name="button" class="titulo-carta">
              <h3>Nuestras Pizzas</h3>
            </button>
            <article class="texto-carta" id="carta-pizzas">
              <img src="../static/images/foto-pizza.png" id="foto-pizza" alt="">
              <p class="nombre-foto">Pizza vegetal</p>
              <p class="sin-gluten">Margarita: mozzarella, tomate y orégano<br>7,85€<br class="br-grande">
                Caprichosa: jamón<br>8,55€<br class="br-grande">
                Funghi: champiñones<br>8,55€<br class="br-grande">
                Kokido: pollo<br>8,55€<br class="br-grande">
                Exquisita: tomate en rodajas y sal de ajo<br>8,55€<br class="br-grande">
                Vegetal: maíz, champiñones y pimientos<br>8,55€<br class="br-grande">
                Napolitana: anchoas y alcaparras<br>8,65€<br class="br-grande">
                Erótica: roquefort, apio y nueces<br>8,65€<br class="br-grande">
                Cuatro quesos<br>8,65€<br class="br-grande">
                Hawaiana: piña y jamón<br>8,65€<br class="br-grande">
                Especial: beicon, cebolla y champiñones<br>8,65€<br class="br-grande">
                Carnosa: carne animal o vegetal de Quorn<br>8,65€<br class="br-grande">
                Mediterránea: atún<br>8,65€<br class="br-grande">
                Castellana: chorizo, salami o beicon<br>8,65€<br class="br-grande">
                <br>
                Hazla tú mismo: base margarita + 2 ingredientes de otras pizzas<br>8,90€<br class="br-grande">
                Hazla vegana: cambia la mozzarella por queso vegano<br>+0,80€<br class="br-grande">
              </p>
            </article>
          </article>
          <article class="carta-dropdown">
            <button type="button" name="button" class="titulo-carta">
              <h3>Nuestros Postres</h3>
            </button>
            <article class="texto-carta" id="carta-postres">
              <img id="foto-postre" src="../static/images/foto-postre.png" alt="">
              <p class="nombre-foto">Brownie casero con helado</p>
              <p class="sin-gluten">
                Trufas con nata<br>4,60€<br class="br-grande">
                Tarta de queso<br>4,60€<br class="br-grande">
                Brownie casero con helado y chocolate caliente<br>4,60€<br class="br-grande">
                Charlotte: helado de nata con chocolate caliente y nueces<br>4,60€<br class="br-grande">
              </p>
            </article>
          </article>
        </div>
        <div id="col2">
          <article class="carta-dropdown">
            <button type="button" name="button" class="titulo-carta">
              <h3>Vegetarianos y Pastas</h3>
            </button>
            <article class="texto-carta" id="carta-vegetariano">
              <h4>Vegetarianos</h4>
              <img src="../static/images/foto-vegetariano.png" alt="">
              <p class="nombre-foto">Arroz integral con verduras y tofu</p>
              <p class="sin-gluten">Hamburguesa vegana<br>9,00€<br class="br-grande">
                Berenjenas Gratinadas<br>8,50€<br class="br-grande">
                Arroz integral con verduras y tofu<br>8,50€<br class="br-grande">
                Hamburguesa vegetal de Quorn<br>9,50€<br class="br-grande">
                Risotto de champiñones y gambas<br>9,10€ <br class="br-grande">
              </p>
            </article>
            <article class="texto-carta" id="carta-vegetariano">
              <h3>Espaguetis con salsa</h3>
              <img src="../static/images/foto-pastas.png" alt="">
              <p class="nombre-foto">Espaguetis con salsa Boloñesa</p>
              <p class="sin-gluten">8,35€ <br id="br-precio">
                Carbonara: nata, huevo y beicon<br class="br-grande">
                Pesto: albahaca, ajo y nueces<br class="br-grande">
                Arrabbiata: tomate y guindilla<br class="br-grande">
                Boloñesa: tomate y carne picada<br class="br-grande">
                Boloñesa de proteína vegetal de quorn<br class="br-grande">
                Salmón ahumado y espárragos<br class="br-grande">
                Cuatro quesos<br class="br-grande">
              </p>
            </article>
          </article>
          <article class="carta-dropdown">
            <button type="button" name="button" class="titulo-carta">
              <h3>Carnes y Pescados</h3>
            </button>
            <article class="gluten texto-carta" id="carta-pescados">
              <h4>Pescados</h4>
              <img src="../static/images/foto-pescado.png" alt="">
              <p class="nombre-foto">Salmón a la plancha</p>
              <p class="gluten">Bacalao a la vizcaína<br>14,00€<br class="br-grande">
                Salmón a la plancha<br>11,50€<br class="br-grande">
              </p>
            </article>
            <article class="texto-carta" id="carta-carnes">
              <h4>Parrilla de Carbón</h4>
              <img src="../static/images/foto-parrilla.png" alt="">
              <p class="nombre-foto">Entraña</p>
              <p>Asado de tira<br>11,90€<br class="br-grande">
                Vacío<br>12,95€<br class="br-grande">
                Entraña<br>12,95€<br class="br-grande">
                Entrecot<br>13,50€<br class="br-grande">
                Parrillada para dos personas<br>4,50€<br class="br-grande">
              </p>
            </article>
            <article class="texto-carta" id="carta-otras-carnes">
              <h4>Otras Carnes</h4>
              <img class="sin-gluten" src="../static/images/foto-carnes.png" alt="">
              <p class="nombre-foto sin-gluten">Pollo de corral al curry</p>
              <p class="sin-gluten">Salmón a la plancha<br>11,50€<br class="br-grande">
                Pollo de corral al curry con leche de coco y guarnición<br>11,30€<br class="br-grande">
                Carrillada de ternera<br>12,50€<br class="br-grande">
                Hamburguesa de Kobe<br>12,50€<br class="br-grande">
              </p>
            </article>
          </article>
          <article class="carta-dropdown" id="ultimo-dropdown">
            <button type="button" name="button" class="titulo-carta">
              <h3>Bebidas</h3>
            </button>
            <article class="texto-carta" id="carta-postres">
              <h4>Vinos</h4>
              <p>Caprichos de dulce de leche<br>4,80€<br class="br-grande">
                Tarta casera de queso<br>4,60€<br class="br-grande">
                Strudel de manzana casero con helado<br>4,60€<br class="br-grande">
                Brownie casero con helado y chocolate caliente (opción sin gluten)<br>4,60€<br class="br-grande">
                Charlotte: helado de nata con chocolate caliente y nueces<br>4,60€<br class="br-grande">
                Tiramisú casero<br>4,60€<br class="br-grande">
                Trufas con nata<br>4,60€<br class="br-grande">
                Alfajores de maicena con dulce de leche y coco<br>5,10€<br class="br-grande">
                Tarta sin gluten con crema y chocolate<br>4,60€<br class="br-grande">
              </p>
              <h4>Otras bebidas</h4>
              <p>
              </p>
            </article>
          </article>
        </div>
      </div>
    </section>
    <footer class="localizacion  ">
      <h3 class="es" id="local">Dónde estamos</h3>
      <h3 class="en" id="local">Our location</h3>
      <h3 class="ro" id="local">Unde suntem</h3>
      <div class="mapouter">
        <iframe class="gmap_canvas" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Calle%20Huertas%206,%20madrid+(Mi%20nombre%20de%20egocios)&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="300" frameborder="0"></iframe></div>
      </div>
      <div id="bottom-div">
        <div id="loc-text">
          <p>Restaurante Il Piccolino della Farfalla</p>
          <p>Calle Huertas, 6</p>
          <p>28012 Madrid</p>
        </div>
        <div id="loc-info">
          <div class="iconos">
            <a href="https://www.facebook.com/La-Farfalla-Il-Picolino-142563812951591/" class="icon"><img src="../static/images/facebook.png" alt=""></a>
            <a href="#" class="icon"><img src="../static/images/instagram-negro.png" alt=""></a>
          </div>
          <a id="priva-fn" class="priv-final es" href="privacidad.html">política de privacidad</a>
          <a id="priva-fn" class="priv-final en" href="privacidad.html">privacy policy</a>
          <a id="priva-fn" class="priv-final ro" href="privacidad.html">politică de confidențialitate</a>
        </div>
      </div>


    </footer>
  </body>
  <script src = "../static/cartas.js" type = "text/javascript"></script>
  <script src = "../static/basica.js" type = "text/javascript"></script>
</html>
