<html lang="es" dir="ltr">
<head>
  <link rel="stylesheet" href="../static/home-f.css">
  <link rel="stylesheet" href="../static/checkbox.css">
  <script src ="../static/jquery-3.6.0.min.js"></script>
  <title>Il Piccolino della Farfalla</title>
  <link rel="icon" href="/static/images/flaticon.ico" type = "image/x-icon">
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <nav>
    <ul id="header-list">
      <li>
        <a id="home-nav" href="home.html">Home</a>
      </li>
      <li class="nav1">
        <a class="es" href="cartas.html">Carta</a>
        <a class="en" href="cartas.html">Menu</a>
        <a class="ro" href="cartas.html">Meniu</a>
      </li>
      <li  class="nav1">
        <a class="es" href="cartas.html">Carta Sin Gluten</a>
        <a class="en" href="cartas.html">Gluten-free Menu</a>
        <a class="ro" href="cartas.html">Meniu Fără Gluten</a>
      </li>
      <li>
        <a class="es">Reservar</a>
        <a class="en">Book a Table</a>
        <a class="ro">Rezervare</a>
      </li>
      <li>
        <a class="es">Sobre nosotros</a>
        <a class="en">About us</a>
        <a class="ro">Despre noi</a>
      </li>
    </ul>
  </nav>
</header>
<body>
  <section id="idiomas" class="botones">
    <h2 id="titulo-idioma">Il Piccolino della Farfalla</h2>
    <div id="primeros-botones">
      <button id="esp" class="boton-idioma" type="button" name="español" onclick="languageChange('es')">Español</button>
      <button id="eng" class="boton-idioma" type="button" name="english" onclick="languageChange('en')">English</button>
      <button id="fra" class="boton-idioma" type="button" name="español" onclick="">Français</button>
      <button id="ita" class="boton-idioma" type="button" name="español" onclick="">Italiano</button>
      <button id="rom" class="boton-idioma" type="button" name="español" onclick="languageChange('ro')">Română</button>
    </div>
  </section>
	<section class="sect heidi", id="sect_titulo">
    <h1>Il Piccolino della Farfalla</h1>
    <h2 class="es subtitulo">Comida Italiana</h2>
    <h2 class="en subtitulo">Italian Kitchen</h2>
    <h2 class="ro subtitulo">Mâncare Italiană</h2>
    <nav id="botones-tit" class="botones">
			<button type="button" id="cartab" onclick="goToCarta()">
        <p class="es">Carta</p>
        <p class="en">Menu</p>
        <p class="ro">Meniu</p>
      </button>
      <button type="button" id="cartasinb" onclick="goToSinGluten()">
        <p class="es">Sin Gluten</p>
        <p class="en">Gluten-Free</p>
        <p class="ro">Făr Gluten</p>
      </button>
    </nav>
  </section>
  <section class="sect heidi">
    <h2 class="grid-item-somos1 es" id="somos-tit">Quiénes Somos</h2>
    <article id="sect_somos">
      <h2 class="grid-item-somos1 en" id="somos-tit">Who We Are</h2>
      <h2 class="grid-item-somos1 ro" id="somos-tit">Cine Suntem</h2>
      <div class="grid-item-somos2" id="somos-text">
        <p class="es text1">Il Piccolino della Farfalla es un pequeño restaurante italiano-argentino en pleno barrio de las letras de Madrid. <br>
          Llevamos con vosotros desde 19XX y nos gusta consideramos un restaurante peculiar, ya que nuestra cocina es una mezcla poco común de culturas.</p>
        <p class="en text1">Il Piccolino della Farfalla is a small italian-argentinian restaurant located in the Barrio de las Letras of Madrid.<br>
        We've been here since 19XX, and we like to think of us as a peculiar restaurant, as we have an uncommon mix of cultural dishes.</p>
        <p class="ro text1">Il Piccolino della Farfalla este un restaurant italian și argentinian situat în Barrio de las Letras din Madrid.
        Suntem deschiși din 19XX și ne considerăm un restaurant novedesc</p>
      </div>
      <img id="entrada" class="grid-item-somos3" src="../static/images/entrada.png" alt="Entrada de La Farfalla">
    </article>
  </section>
  <section id="carta-s" class="grid-carta sect heidi">
    <hr class="divisor">
    <h2 class="es" id="grid-item-cartat">Qué comer</h2>
    <h2 class="en" id="grid-item-cartat">What to Eat</h2>
    <h2 class="ro" id="grid-item-cartat">Platouri</h2>
    <div id="carta">
      <article class="carta-item" id="grid-item-carta0">
        <a nohref onclick="goToSinGluten()" id="glut"><img src="../static/images/gluten.png" alt="sin gluten" class="img-clickable"></a>
        <p2 class="es" id="sing">Sin Gluten</p2>
        <p2 class="en" id="sing">Gluten-Free</p2>
        <p2 class="ro" id="sing">Făra Gluten</p2>
        <p2 id="celiacos">ACSG</p2>
      </article>
      <article class="carta-item" id="grid-item-carta1">
        <a href="carta.html#entrantes" id="appet"><img src="../static/images/appetizer.png" alt="entrantes" class="img-clickable"></a>
        <p2 class="es" id="ens">Entrantes y<br>Ensaladas</p2>
        <p2 class="en" id="ens">Starters and<br>Salads</p2>
        <p2 class="ro" id="ens">Aperitive<br>și Salate</p2>
      </article>
      <article class="carta-item" id="grid-item-carta2">
        <a href="carta.html#pastas" id="ensl"><img src="../static/images/ensalada.png" alt="ensaladas" class="img-clickable"></a>
        <p2 class="es" id="veg">Vegetarianos<br>y Pastas</p2>
        <p2 class="en" id="veg">Vegetarian<br>and Pastas</p2>
        <p2 class="ro" id="veg">Vegetariene<br>și Paste</p2>
      </article>
      <article class="carta-item" id="grid-item-carta3">
        <a href="carta.html#pizzas"><img src="../static/images/pizza.png" alt="pizzas" class="img-clickable"></a>
        <p2 id="pi" class="up-text">Pizza</p2>
      </article>
      <article class="carta-item" id="grid-item-carta4">
        <a href="carta.html#carnes"><img src="../static/images/turkey.png" alt="carnes" class="img-clickable"></a>
        <p2 class="es up-text" id="car">Carnes</p2>
        <p2 class="en up-text" id="car">Meat</p2>
        <p2 class="ro up-text" id="car">Carne</p2>
      </article>
      <article class="carta-item" id="grid-item-carta5">
        <a href="carta.html#postres"><img src="../static/images/ice-cream.png" alt="postres" class="img-clickable"></a>
        <p2 class="es up-text" id="post">Postres</p2>
        <p2 class="en up-text" id="post">Desserts</p2>
        <p2 class="ro up-text" id="post">Deserturi</p2>
      </article>
    </div>
    <div id="diario">
      <div id="menu-y-precio">
        <h3 class="es diario-h">Menú diario</h3>
        <h3 class="en diario-h">Daily Menu</h3>
        <h3 class="ro diario-h">Meniu de zi</h3>
        <p id="precio-menu">11,50€</p>
      </div>
      <div id="link-insta">
        <p class="es seguid-insta">Síganos en <a href="#">Instagram</a> para ver el menú diario en nuestras historias</p>
        <p class="en seguid-insta">We post our daily menu on our instastories</p>
        <p class="ro seguid-insta"></p>
        <a href="#" class="icon"><img src="../static/images/instagram.png" alt=""></a>
      </div>
    </div>
  </section>
  <section class="sect heidi">
    <hr class="divisor">
    <div id="reserva-sect">
      <h2 class="grid-item1 es" id="reserva-tit">Reservar por internet</h2>
      <h2 class="grid-item1 en" id="reserva-tit">Book Online</h2>
      <h2 class="grid-item1 ro" id="reserva-tit">Rezervare pe internet</h2>
      <article class="grid-item2" id="form">
        <form id="form-reserva">
          <fieldset class="form-field">
            <label id="nombre">
              <p class="es">Nombre</p>
              <p class="en">Name</p>
              <p class="ro">Nume</p>
            </label>
            <input type="text" name="nombre" id="nombre1">
            <p3 class="error" id="no-nombre-es">* este campo es obligatorio</p3>
            <p3 class="error" id="mal-nombre-es">* nombre invalido</p3>
            <p3 class="error" id="no-nombre-en">* this input is necessary</p3>
            <p3 class="error" id="mal-nombre-en">* invalid name format</p3>
            <p3 class="error" id="no-nombre-ro">* informație necesară</p3>
            <p3 class="error" id="mal-nombre-ro">* numele nu este valid</p3>
          </fieldset>
          <fieldset class="form-field">
            <label id="tellab">
              <p class="es">Teléfono</p>
              <p class="en">Phone Number</p>
              <p class="ro">Telefon</p>
            </label>
            <input type="tel" name="tel" id="tel1">
            <p3 class="error" id="no-tel-es">* este campo es obligatorio</p3>
            <p3 class="error" id="mal-tel-es">* teléfono invalido</p3>
            <p3 class="error" id="no-tel-en">* this input is necessary</p3>
            <p3 class="error" id="mal-tel-en">* invalid phone number</p3>
            <p3 class="error" id="no-tel-ro">* informație necesară</p3>
            <p3 class="error" id="mal-tel-ro">* numărul de telefon nu este valid</p3>
          </fieldset>
          <fieldset class="form-field">
            <label id="fechalab">
              <p class="es">Fecha</p>
              <p class="en">Date</p>
              <p class="ro">Dată</p>
            </label>
            <input type="date" name="fecha" id="fecha1">
            <p3 class="error" id="no-fecha-es">* este campo es obligatorio</p3>
            <p3 class="error" id="no-fecha-ro">* informație necesară</p3>
            <p3 class="error" id="no-fecha-en">* this input is necessary</p3>
          </fieldset>
          <fieldset class="form-field">
            <label id="horalab">
              <p class="es">Hora</p>
              <p class="en">Time</p>
              <p class="ro">Oră</p>
            </label>
            <input type="time" name="hora" id="hora1" value=13:00>
            <p3 class="error" id="no-hora-es">* este campo es obligatorio</p3>
            <p3 class="error" id="no-hora-en">* this input is necessary</p3>
            <p3 class="error" id="no-hora-ro">* informație necesară</p3>
            <p3 class="error" id="mal-hora-es">* hora fuera de horario, tenga en cuenta que debe llegar mínimo 45 minutos antes del cierre</p3>
            <p3 class="error" id="mal-hora-en">* selected time is out of schedule, remember to book a minimum of 45 minutes before closing hour<p3>
            <p3 class="error" id="mal-hora-ro">* nu se pot face rezervari cu 45 de minute înaintea orei de închidere</p3>
          </fieldset>
          <fieldset class="form-field">
            <label id="personaslab">
              <p class="es">Personas</p>
              <p class="en">Number of people</p>
              <p class="ro">Număr de persoane</p>
            </label>
            <input type="number" name="personas" id="persona1" value=1 min=1 max= 30>
          </fieldset>
          <fieldset id="form-field-check">
            <label id="acept" class="control control-checkbox">
              <p class="es">acepto y estoy de acuerdo con nuestra <a href="privacidad.html es" id="privacidad">política de privacidad</a></p>
              <p class="en">I accept and agree with<br>the <a href="privacidad.html en" id="privacidad">privacy policy</a></p>
              <p class="ro">sunt de acord cu<br><a href="privacidad.html en" id="privacidad">politica de confidențialitate</a></p>
                   <input type="checkbox" name="politica" id="checkbox" />
               <div class="control_indicator"></div>
           </label>
            <p3 class="error" id="no-politica-es">* es obligatorio aceptar nuestra política de privacidad</p3>
            <p3 class="error" id="no-politica-en">* you must accept our privacy policy</p3>
            <p3 class="error" id="no-politica-ro">* este necesar să fiți de acord cu politica de confidențialitate</p3>
          </fieldset>
          <button type="submit" id="submit1" name="submit1">
            <p class="es">Reservar</p>
            <p class="en">Send Booking</p>
            <p class="ro">Confirmare</p>
          </button>
        </form>
      </article>
      <article class="grid-item3" id="horario">
        <div class="es" id="horario-in">
          <h3 id="horario-titulo">Horario</h3>
          <h4 id="lun-jue">Lunes a jueves</h4>
          <p>13:00 - 16:30<br>19:30 - 00:30</p>
          <hr>
          <h4 id="findes">Viernes, Sábado, Vísperas y Festivos</h4>
          <p>13:00 - 2:30</p>
          <hr>
          <h4 id="findes">Domingos</h4>
          <p>13 - 16:30</p>
          <br>
          <article class="grid-horario">
            <div class="grid-item-horario1">
                <h4 id="call">Llámenos al: </h4>
              <a class="tel" href="tel:+34913694391">913 69 43 91</a>
            </div>
            <div class="grid-item-horario2">
              <h4 id="emaill">O escríbanos a: </h4>
              <a class="tel" href="mailto:Piccolinofarfalla6@gmail.com">Piccolinofarfalla6@gmail.com</a>
            </div>
          </article>
        </div>
        <div class="en" id="horario-in">
          <h3 id="horario-titulo">Schedule</h3>
          <h4 id="lun-jue">Monday to Thursday</h4>
          <p>13:00 - 16:30<br>19:30 - 00:30</p>
          <hr>
          <h4 id="findes">Friday, Saturday, Holidays and Eves</h4>
          <p>13:00 - 2:30</p>
          <hr>
          <h4 id="findes">Sunday</h4>
          <p>13:00 - 16:30</p>
          <br>
          <article class="grid-horario">
            <div class="grid-item-horario1">
                <h4 id="call">Call us to: </h4>
              <a class="tel" href="tel:+34913694391">913 69 43 91</a>
            </div>
            <div class="grid-item-horario2">
              <h4 id="emaill">Or email us to: </h4>
              <a class="tel" href="mailto:farfallamadrid2@gmail.com">farfallamadrid2@gmail.com</a>
            </div>
          </article>
        </div>
        <div class="ro" id="horario-in">
          <h3 id="horario-titulo">Horariu</h3>
          <h4 id="lun-jue">De Luni pănă Joi</h4>
          <p>13:00 - 16:30<br>19:30 - 00:30</p>
          <hr>
          <h4 id="findes">Vineri, Sâmbătă și Sărbători</h4>
          <p>13:00 - 2:30</p>
          <hr>
          <h4 id="findes">Duminică</h4>
          <p>13:00 - 16:30</p>
          <br>
          <article class="grid-horario">
            <div class="grid-item-horario1">
                <h4 id="call">Sunați-ne la: </h4>
              <a class="tel" href="tel:+34913694391">913 69 43 91</a>
            </div>
            <div class="grid-item-horario2">
              <h4 id="emaill">Sau scrieți-ne la: </h4>
              <a class="tel" href="mailto:farfallamadrid2@gmail.com">farfallamadrid2@gmail.com</a>
            </div>
          </article>
        </div>
      </article>
    </div>
  </section>
  <footer class="localizacion heidi">
    <h3 class="es" id="local">Dónde estamos</h3>
    <h3 class="en" id="local">Our location</h3>
    <h3 class="ro" id="local">Unde suntem</h3>
    <div class="mapouter">
      <div class="gmap_canvas"><iframe width="600" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=calle%20de%20las%20huertas%206,%20madrid&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
    <div id="bottom-div">
      <div id="loc-text">
        <p>Restaurante Il Piccolino della Farfalla</p>
        <p>Calle Huertas, 6</p>
        <p>28012 Madrid</p>
      </div>
      <div id="loc-info">
        <div class="iconos">
          <a href="https://www.facebook.com/La-Farfalla-Il-Picolino-142563812951591/" class="icon"><img src="../static/images/facebook.png" alt=""></a>
          <a href="#" class="icon"><img src="../static/images/instagram.png" alt=""></a>
        </div>
        <a id="priva-fn" class="priv-final es" href="privacidad.html">política de privacidad</a>
        <a id="priva-fn" class="priv-final en" href="privacidad.html">privacy policy</a>
        <a id="priva-fn" class="priv-final ro" href="privacidad.html">politică de confidențialitate</a>
      </div>
    </div>


  </footer>
</body>
</html>
<script src = "../static/basica.js" type = "text/javascript"></script>
