<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <link rel="stylesheet" href="../static/common.css">
  <link rel="stylesheet" href="../static/home-f.css">
  <link rel="stylesheet" href="../static/checkbox.css">
  <script src ="../static/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/2.3.1/jsencrypt.min.js" async></script>
  <title>Il Piccolino della Farfalla</title>
  <link rel="icon" href="/static/images/flaticon.ico" type = "image/x-icon">
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <nav id="header-nav">
    <div id="div-idioma">
      <img src="/static/images/world-button.png" alt="cambiar idioma" id="foto-idioma">
      <button type="button" name="cambiar_idioma" id="boton-cambio-idioma">English</button>
    </div>
    <ul id="header-list">
      <li class="boton-nav boton-nav-peque">
        <a id="home-nav" href="home.html">Home</a>
      </li>
      <li class="boton-nav boton-nav-peque" id="carta-boton">
        <a class="es" id="boton-nav-carta">Carta</a>
        <a class="en" id="boton-nav-carta">Menu</a>
      </li>
      <li class="boton-nav boton-nav-grande" id="carta-sin-boton">
        <a class="es" id="boton-nav-sing">Carta Sin Gluten</a>
        <a class="en" id="boton-nav-sing">Gluten-free Menu</a>
      </li>
      <li class="boton-nav" id="reservar-boton">
        <a class="es">Reservar</a>
        <a class="en">Book a Table</a>
      </li>
      <li class="boton-nav boton-nav-grande" id="about-boton">
        <a class="es">Sobre nosotros</a>
        <a class="en">About us</a>
      </li>
    </ul>
  </nav>
</header>
<body>
  <div class="popup" id="reservaHecha">
    <div id="botones-popup">
      <button type="button" name="button" class="popup-x">x</button>
      <p id="reserva-texto-popup"></p>
    </div>
  </div>
  <div class="cookie">
    <p class="cookie-texto">Utilizamos cookies para ofrecer la mejor experiencia usando nuestra página</p>
    <button type="button" name="button" class="cookie-accept" id="accept-cookie">Aceptar</button>
  </div>
	<section class="sect" id="sect_titulo">
    <h1>Il Piccolino della Farfalla</h1>
    <h2 class="es subtitulo">Comida Italiana</h2>
    <h2 class="en subtitulo">Italian Cuisine</h2>
    <nav id="botones-tit" class="botones">
			<button type="button" id="boton-nav-carta2">
        <p class="es">Carta</p>
        <p class="en">Menu</p>
      </button>
      <button type="button" id="boton-nav-sing2">
        <p class="es">Sin Gluten</p>
        <p class="en">Gluten-Free</p>
      </button>
    </nav>
  </section>
  <section class="sect  ">
    <h2 class="grid-item-somos1 es" id="somos-tit">Quiénes Somos</h2>
    <h2 class="grid-item-somos1 en" id="somos-tit">Who We Are</h2>
    <article id="sect_somos">
      <p class="es text1 t1">Il Piccolino della Farfalla nace en la calle Santa María en 1981, con …… de noche: actores, músicos, bailarines y magos. Después de sus actuaciones aterrizan aquí para nutrirse de una comida rica, casera, fresca y abundante, además de un precio inmejorable. Aunque ahora estamos en la calle Huertas, seguimos manteniendo un aire y un sabor que, según la mayoría de nuestros clientes, les hace pensar en “la casa de su abuela”. Por ello nos han seguido trayendo a sus
        hijos, y estos a los suyos... </p>
      <p class="es text1 t2">
        Durante años hemos estado atentos a satisfacer minorías con opciones variadas como platos sin gluten, postres sin azúcar o veganos, además de las pastas y pizzas italianas y las carnes argentinas. Como negocio familiar, agradecemos desde el corazón la fidelidad de nuestros clientes y acogemos con alegría a todos los nuevos, a los que aseguramos plena satisfacción.
      </p>
      <p class="en text1 t1">
        Il Piccolino della Farfalla was born in calle Santa María in 1981, with outstanding clientele: magicians, singers, dancers and actors. Once they finished their performances, they would come here to enjoy our delicious and plentiful homemade dishes. Even though we have moved our location to calle Huertas, we still maintain a warm feel which many say reminds them of their “granny’s house”.
      </p>
      <p class="en text1 t2">
        We have always been concerned with satisfying minorities, this is why we include a huge variety of recipes composed of gluten-free food, Italian pasta and pizza, Argentinian meat or sugar-free desserts.
      </p>
      <img id="entrada" class="grid-item-somos3" src="../static/images/entrada.png" alt="Entrada de La Farfalla">

      <div class="es" id="quote">
        <p class="es" id="text2">
          « La comida une a la gente en muchos niveles diferentes. Es el alimento del alma y del cuerpo, realmente es amor. »
        </p>
        <p class="es" id="text2-quote">
          Giada de Laurentis, Cocinera
        </p>
      </div>
    </article>
  </section>
  <section id="carta-s" class="grid-carta sect  ">
    <hr class="divisor" id="divisor_menu">
    <div id="diario">
      <div id="menu-y-precio">
        <h3 class="es diario-h">Menú diario</h3>
        <h3 class="en diario-h">Daily Menu</h3>
        <p id="precio-menu">13,50€</p>
      </div>
      <div id="link-insta">
        <p class="es seguid-insta">Síganos en <a href="#">Instagram</a> para ver el menú diario en nuestras historias</p>
        <p class="en seguid-insta">We post our daily menu on our instastories</p>
      </div>
    </div>
    <hr class="divisor">
    <h2 class="es" id="grid-item-cartat">Qué comer</h2>
    <h2 class="en" id="grid-item-cartat">What to Eat</h2>
    <div id="carta">
      <article class="carta-item" id="grid-item-carta0">
        <a nohref onclick="goToSinGluten()" id="glut"><img src="../static/images/gluten.png" alt="sin gluten" class="img-clickable"></a>
        <p2 class="es" id="sing">Sin Gluten</p2>
        <p2 class="en" id="sing">Gluten-Free</p2>
        <p2 id="celiacos">ACSG</p2>
      </article>
      <article class="carta-item" id="grid-item-carta1">
        <a nohref onclick="goToEntrantes()" id="appet"><img src="../static/images/appetizer.png" alt="entrantes" class="img-clickable"></a>
        <p2 class="es" id="ens">Entrantes y<br>Ensaladas</p2>
        <p2 class="en" id="ens">Starters and<br>Salads</p2>
      </article>
      <article class="carta-item" id="grid-item-carta2">
        <a nohref onclick="goToVeg()" id="ensl"><img src="../static/images/ensalada.png" alt="ensaladas" class="img-clickable"></a>
        <p2 class="es" id="veg">Vegetarianos<br>y Pastas</p2>
        <p2 class="en" id="veg">Vegetarian<br>and Pastas</p2>
      </article>
      <article class="carta-item" id="grid-item-carta3">
        <a hnohref onclick="goToPizzas()"><img src="../static/images/pizza.png" alt="pizzas" class="img-clickable"></a>
        <p2 id="pi" class="up-text">Pizza</p2>
      </article>
      <article class="carta-item" id="grid-item-carta4">
        <a nohref onclick="goToCarnes()"><img src="../static/images/turkey.png" alt="carnes" class="img-clickable"></a>
        <p2 class="es up-text" id="car">Carnes</p2>
        <p2 class="en up-text" id="car">Meat</p2>
      </article>
      <article class="carta-item" id="grid-item-carta5">
        <a nohref onclick="goToPostres()"><img src="../static/images/ice-cream.png" alt="postres" class="img-clickable"></a>
        <p2 class="es up-text" id="post">Postres</p2>
        <p2 class="en up-text" id="post">Desserts</p2>
      </article>
    </div>

  </section>
  <section class="sect  ">
    <hr class="divisor">
    <div id="reserva-sect">
      <h2 class="grid-item1 es" id="reserva-tit">Reservar por internet</h2>
      <h2 class="grid-item1 en" id="reserva-tit">Book Online</h2>
      <article class="grid-item2" id="form">
        <form id="form-reserva">
          <fieldset class="form-field">
            <label id="nombre">
              <p class="es">Nombre</p>
              <p class="en">Name</p>
            </label>
            <input type="text" name="nombre" id="nombre1">
            <p3 class="error" id="no-nombre-es">* este campo es obligatorio</p3>
            <p3 class="error" id="mal-nombre-es">* nombre invalido</p3>
            <p3 class="error" id="no-nombre-en">* this input is necessary</p3>
            <p3 class="error" id="mal-nombre-en">* invalid name format</p3>
          </fieldset>
          <fieldset class="form-field">
            <label id="tellab">
              <p class="es">Teléfono</p>
              <p class="en">Phone Number</p>
            </label>
            <input type="tel" name="tel" id="tel1">
            <p3 class="error" id="no-tel-es">* este campo es obligatorio</p3>
            <p3 class="error" id="mal-tel-es">* teléfono invalido</p3>
            <p3 class="error" id="no-tel-en">* this input is necessary</p3>
            <p3 class="error" id="mal-tel-en">* invalid phone number</p3>
          </fieldset>
          <fieldset class="form-field">
            <label id="fechalab">
              <p class="es">Fecha</p>
              <p class="en">Date</p>
            </label>
            <input type="date" name="fecha" id="fecha1">
            <p3 class="error" id="no-fecha-es">* este campo es obligatorio</p3>
            <p3 class="error" id="no-fecha-en">* this input is necessary</p3>
          </fieldset>
          <fieldset class="form-field">
            <label id="horalab">
              <p class="es">Hora</p>
              <p class="en">Time</p>
            </label>
            <input type="time" name="hora" id="hora1" value=13:00>
            <p3 class="error" id="no-hora-es">* este campo es obligatorio</p3>
            <p3 class="error" id="no-hora-en">* this input is necessary</p3>
            <p3 class="error" id="mal-hora-es">* hora fuera de horario, tenga en cuenta que debe llegar mínimo 1 hora antes del cierre</p3>
            <p3 class="error" id="mal-hora-en">* selected time is out of schedule, remember to book a minimum of 1 hour before closing hour<p3>
          </fieldset>
          <fieldset class="form-field">
            <label id="personaslab">
              <p class="es">Personas</p>
              <p class="en">Number of people</p>
            </label>
            <input type="number" name="personas" id="persona1" value=1 min=1 max= 30>
          </fieldset>
          <fieldset id="form-field-check">
            <label id="acept" class="control control-checkbox">
              <p class="es">acepto y estoy de acuerdo con nuestra <a href="privacidad.html es" id="privacidad">política de privacidad</a></p>
              <p class="en">I accept and agree with<br>the <a href="privacidad.html en" id="privacidad">privacy policy</a></p>
                   <input type="checkbox" name="politica" id="checkbox" />
               <div class="control_indicator"></div>
           </label>
            <p3 class="error" id="no-politica-es">* es obligatorio aceptar nuestra política de privacidad</p3>
            <p3 class="error" id="no-politica-en">* you must accept our privacy policy</p3>
          </fieldset>
          <button type="submit" id="submit1" name="submit1">
            <p class="es">Reservar</p>
            <p class="en">Send Booking</p>
          </button>
        </form>
      </article>
      <article class="grid-item3" id="horario">
        <div class="es" id="horario-in">
          <h3 id="horario-titulo">Horario</h3>
          <h4 id="lun-jue">Lunes a jueves</h4>
          <p>13:00 - 16:30<br>19:30 - 00:00</p>
          <hr>
          <h4 id="findes">Viernes, Sábado, Vísperas y Festivos</h4>
          <p>13:00 - 2:00</p>
          <hr>
          <h4 id="findes">Domingos</h4>
          <p>13:00 - 16:30</p>
          <br>
          <article class="grid-horario">
            <div class="grid-item-horario1">
                <h4 id="call">Llámenos al: </h4>
              <a class="tel" href="tel:+34913694391">913 69 43 91</a>
            </div>
            <div class="grid-item-horario2">
              <h4 id="emaill">O escríbanos a: </h4>
              <a class="tel" href="mailto:Piccolinofarfalla6@gmail.com">Piccolinofarfalla6@gmail.com</a>
            </div>
          </article>
        </div>
        <div class="en" id="horario-in">
          <h3 id="horario-titulo">Schedule</h3>
          <h4 id="lun-jue">Monday to Thursday</h4>
          <p>13:00 - 16:30<br>19:30 - 00:00</p>
          <hr>
          <h4 id="findes">Friday, Saturday, Holidays and Eves</h4>
          <p>13:00 - 2:00</p>
          <hr>
          <h4 id="findes">Sunday</h4>
          <p>13:00 - 16:30</p>
          <br>
          <article class="grid-horario">
            <div class="grid-item-horario1">
                <h4 id="call">Call us at: </h4>
              <a class="tel" href="tel:+34913694391">913 69 43 91</a>
            </div>
            <div class="grid-item-horario2">
              <h4 id="emaill">Or email us at: </h4>
              <a class="tel" href="mailto:farfallamadrid2@gmail.com">farfallamadrid2@gmail.com</a>
            </div>
          </article>
        </div>
      </article>
    </div>
  </section>
  <footer class="localizacion  ">
    <h3 class="es" id="local">Dónde estamos</h3>
    <h3 class="en" id="local">Our location</h3>
    <div class="mapouter">
      <iframe class="gmap_canvas" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Calle%20Huertas%206,%20madrid+(Mi%20nombre%20de%20egocios)&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="300" frameborder="0"></iframe></div>
    </div>
    <div id="bottom-div">
      <div id="loc-text">
        <p>Restaurante Il Piccolino della Farfalla</p>
        <p>Calle Huertas, 6</p>
        <p>28012 Madrid</p>
      </div>
      <div id="loc-info">
        <div class="iconos">
          <a href="https://www.facebook.com/La-Farfalla-Il-Picolino-142563812951591/" class="icon"><img src="../static/images/facebook.png" alt=""></a>
          <a href="#" class="icon"><img src="../static/images/instagram-negro.png" alt=""></a>
        </div>
        <a id="priva-fn" class="priv-final es" href="privacidad.html">política de privacidad</a>
        <a id="priva-fn" class="priv-final en" href="privacidad.html">privacy policy</a>
      </div>
    </div>


  </footer>
</body>
</html>
<script src = "../static/basica.js" type = "text/javascript"></script>
<script type="text/javascript">
document.getElementsByName("fecha")[0].setAttribute('min', today);
</script>
